// color variables
$color-primary: #fff;
$color-secondary: #F5F5F5;
$color-text: #213F7D;
$button-color: #39CDCC;
$button-color-hover: #c0e7e7;

.App {
  text-align: center;
  color: $color-text;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  max-width: 100vw !important;
}

::-webkit-scrollbar {
  width: 2vw;
  height: 2vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: $button-color;
  border-radius: 1vw;
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $button-color-hover;
}

@media screen and (min-width:500px) {
    ::-webkit-scrollbar {
        width: 0.5vw;
        height: 0.5vw;
    }

    ::-webkit-scrollbar-thumb{
        border-radius: 0.25vw;
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
